.main-mention-legale {
  margin: 200px;
}
.subtitle-mention-legale {
  margin-bottom: 20px;
  margin-top: 20px;
}
.content-mention-legale p {
  margin-bottom: 5px;
}
p {
  line-height: 1.6;
}
.list-mention-legale li {
  margin-bottom: 5px;
}
